<%= flash[:error] %>
<h3> Write your Name</h3>
<%= form_tag(user_login_path, method: :post) do %>
	<%= text_field_tag(:user_name, value = nil) %>
	<button type="submit" name="button">Submit </button>
<% end %>
