<%= javascript_include_tag 'chat_handler' %>
<%= javascript_include_tag 'cable'%>
<%= javascript_include_tag 'live_chat'%>
<div id="user_list"> </div>
<h3 id="my_name"></h3>
<video src="" autoplay >

</video>
<video id="remote" src="" autoplay>

</video>
